body {
  margin-bottom: 75px;
}

.thumbnail {
display: inline-block;
width: 240px;
margin: 8px;
}

.thumbnail > img {
border-radius: 25px;
border-style: solid;
border-width: thin ;
}

.thumbnail > button {
margin: 8px;
}

#imagesDiv {
flex-flow: column wrap;
margin-top:50px;
}

.action-bar {
margin: 8px;
display: flex; /* establish flex container */
flex-direction: row; /* default value; can be omitted */
flex-wrap: nowrap; /* default value; can be omitted */
justify-content: space-between; /* switched from default (flex-start, see below) */
}

#editor {
  width: 100%; 
  height: calc(100% - 34px);
}

#editor:not(.view) {
text-align: center;
padding: 50px;
font-size: 22px;
color: #aaa;
height: 130px;
border: 1px solid #aaa;
display: none;
}

#viewer:not(.view) {
  display:none;
}

#editor > div.croppie-container {
display: none;
}

#editor.view > #uploadMsg {
display: none;
height: 100px;
}

#editor.view > div.croppie-container {
display: block;
}

.hide {
  display:none;
}

.hidden {
  visibility: hidden;
}


#imageInput {
  display: none;
}
