html, body, #editorApp {
  height: calc(100% - 45px);
}

.top-nav
 {
  background-color: #343a40 !important;
}

body {
  margin-bottom: 75px;
}

.thumbnail {
  display: inline-block;
  width: 240px;
  margin: 8px;
}

.thumbnail > img {
  box-shadow: 5px 5px 10px #efefef,
            -5px -5px 10px #a0a0a0;  
border-radius: 16px;
}


.tooltip:hover .tooltiptext {
  visibility: visible;
}

.thumbnail > button {
margin: 8px;
}

input.cr-slider-wrapper {
  margin: -50px auto;
}

div.cr-viewport {
  border-radius: 16px;
}

#imagesDiv {
flex-flow: column wrap;
margin-top:50px;
}

.select {
  border: 5px solid #198754;
}

.pointer {
  cursor: pointer;
}

.action-bar {
margin: 8px;
display: flex; /* establish flex container */
flex-direction: row; /* default value; can be omitted */
flex-wrap: nowrap; /* default value; can be omitted */
justify-content: space-between; /* switched from default (flex-start, see below) */
}

#editor {
  margin-top: 56px;
  width: 100%; 
  height: calc(100% - 34px);
}

.uploadError {
  margin-top: 6px;
}

.uploadError > svg {
  fill: red;
  cursor: pointer;
}

#cardDisplay {
    padding-bottom: 60px;
}

#editor:not(.view) {
text-align: center;
padding: 25px;
font-size: 22px;
color: #aaa;
height: auto;
/*border: 1px solid #aaa; */
}

#uploadText {
  color:white;
  margin: auto;
}

#viewer:not(.view) {
  display:none;
}

#editor > div.croppie-container {
display: none;
}

#editor.view > #uploadMsg {
display: none;
height: calc(100% - 34px);
}

#editor.view > div.croppie-container {
display: block;
}

.hide {
  display:none;
}

.hidden {
  visibility: hidden;
}


#imageInput {
  display: none;
}
